/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,button,input,select,textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #333333;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
*/
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/
img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
*/
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
*/
textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: darkgreen;
    font-size: small;
    
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrap {
    background: none repeat scroll 0 center #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    max-width: 1205px;
    min-height: 400px;
    padding: 0 15px 5px;
    text-align: left;
}

#header {
    background: none repeat scroll 0 0 #76A045;
    height: 70px;
    width: 99%;
    margin: 0 auto;
}

.padding10 {
    padding: 10px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.width30p {
    width: 30%;
}

.fullWidth {
    width: 99%;
}

.topMargin6 {
    margin-top: 6px;
}

.inline {
    float: left;
}

.alignRight {
    float: right;
}

.logout {
    background-image: url(../img/logout.png);
    background-repeat: no-repeat;
    padding-bottom: 10px;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

#separator img {
    vertical-align: middle;
}

.logo {
    padding-left: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-variant: normal;
}

#mainFormDiv {
    margin: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #bcbcbc;
    min-height: 390px;
}

#dataTable tr td {
    padding-left: 10px;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

/*textarea {
    resize: none;
}*/

.ui-autocomplete {
    height: 200px;
    overflow: auto;
}

.loginBackground {
    background-color: transparent;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle closest-corner, #DDEBDD 0%, #61B329 200%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle closest-corner, #DDEBDD 0%, #61B329 200%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, circle closest-corner, #DDEBDD 0%, #61B329 200%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #DDEBDD), color-stop(2, #61B329));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle closest-corner, #DDEBDD 0%, #61B329 200%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle closest-corner at center, #DDEBDD 0%, #61B329 200%);
}

.loginBox {
    border: 0 none;
    height: 520px;
    padding-top: 250px;
    margin: 0 auto;
    width: 660px;
}

.box {
    width: 450px;
    font-size: 1.2em;
    color: #bcbcbc;
    margin: 0 auto;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    box-shadow: 5px #bcbcbc;
    background-color: #FFFFFF;
}

.export {
    background-repeat: no-repeat;
    background-image: url(../img/export.png);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
*/
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
*/
.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
*/
.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
*/
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
*/
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
*/
.clearfix {
    *zoom: 1;
}

.nobr {
    white-space: nowrap
} 

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print , ( -o-min-device-pixel-ratio : 5/4) , (
-webkit-min-device-pixel-ratio : 1.25) , ( min-resolution : 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
 * Don't show links for images, or javascript/internal links
    */
    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
        content: "";
    }
    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    tr,img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,h2,h3 {
        orphans: 3;
        widows: 3;
    }
    h2,h3 {
        page-break-after: avoid;
    }
}

.border1black {
    border: 1px black solid;
}

/*==========================================================
Overriding JQuery Styles
============================================================*/
.ui-widget {
    font-size: small !important;
}

.ui-combobox {
    width: 92% !important;
}

.ui-combobox-input {
    width: 93% !important;
}
